In [4]:
import numpy as np
import pandas as pd

In [2]:
import matplotlib.pyplot as plt

In [3]:
import seaborn as sns
%matplotlib inline

In [5]:
df = pd.read_csv('Literacy rate status by age group 15 - 24 (2013).csv')

In [7]:
df.head()

,District,Zone,Geographical Region,Development Region,Sub Group,Male /Female,Value
0,Taplejung,Mechi,Mountain,Eastern,Literate Population by age 15 - 24,Male,11483
1,Taplejung,Mechi,Mountain,Eastern,Literate Population by age 15 - 24,Female,13133
2,Taplejung,Mechi,Mountain,Eastern,Total Population by age 15 - 24,Male,12116
3,Taplejung,Mechi,Mountain,Eastern,Total Population by age 15 - 24,Female,14176
4,Panchthar,Mechi,Hill,Eastern,Literate Population by age 15 - 24,Male,17228

In [8]:
df['Male /Female'].unique()

array(['Male ', 'Female '], dtype=object)

In [11]:
df_male = df[df['Male /Female']== 'Male ']

In [13]:
df_male.head()

,District,Zone,Geographical Region,Development Region,Sub Group,Male /Female,Value
0,Taplejung,Mechi,Mountain,Eastern,Literate Population by age 15 - 24,Male,11483
2,Taplejung,Mechi,Mountain,Eastern,Total Population by age 15 - 24,Male,12116
4,Panchthar,Mechi,Hill,Eastern,Literate Population by age 15 - 24,Male,17228
6,Panchthar,Mechi,Hill,Eastern,Total Population by age 15 - 24,Male,17877
8,Ilam,Mechi,Hill,Eastern,Literate Population by age 15 - 24,Male,27645

In [14]:
df_female = df[df['Male /Female']== 'Female ']

In [15]:
df_female.head()

,District,Zone,Geographical Region,Development Region,Sub Group,Male /Female,Value
1,Taplejung,Mechi,Mountain,Eastern,Literate Population by age 15 - 24,Female,13133
3,Taplejung,Mechi,Mountain,Eastern,Total Population by age 15 - 24,Female,14176
5,Panchthar,Mechi,Hill,Eastern,Literate Population by age 15 - 24,Female,21424
7,Panchthar,Mechi,Hill,Eastern,Total Population by age 15 - 24,Female,22519
9,Ilam,Mechi,Hill,Eastern,Literate Population by age 15 - 24,Female,32077

In [ ]:
df_devregion =